#frame {
	-fx-background-color: #F44336;
	-fx-padding: 50px;
}

#frame.red {
	-fx-background-color: #F44336;
}

#frame.gray {
	-fx-background-color: #616161;
}

#frame.green {
	-fx-background-color: #388E3C;
}

#frame.white {
	-fx-background-color: #FFFFFF;
}

.statusPane {
	-fx-text-alignment: center;
}

.statusText {
	-fx-fill: white;
	-fx-font-family: sans-serif;
	-fx-font-size: 60px;
}
